th
{
    background-color: #363636;
    font-weight: bold;
    color: white;

}

table
{
    font-family: Apple Chancery;
}

form
{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    font-family: Apple Chancery;
    background-image: url("https://www.culturalsurvival.org/sites/default/files/styles/max_2600x2600/public/cs50.jpg?itok=8DrLryQz");
}

h1
{
    font-family: Apple Chancery;
}

option
{
    font-size: 4px;
    font-family: Apple Chancery;

}