<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" method="POST">
        <input name='name' placeholder="Name" type="text">
        <select name="city">
            <option value="Erevan">Erevan</option>
            <option value="Gyumri">Gyumri</option>
            <option value="Kapan">Kapan</option>
            <option value="Goris">Goris</option>
            <option value="Vanadzor">Vanadzor</option>
            <option value="Stepanakert">Stepanakert</option>
        </select>
        <form>
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="submit" value="Register">
        </form> 
    </form>
</body>
</html>