{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{"$%.2f" | format(total)}}</td>
            </tr>
        </tfoot>
        <tbody>



            {%for items in tab%}
        <tr>
        <td>{{items['symbol']}}</td>
        <td>{{items['name']}}</td>
        <td>{{items['shares']}}</td>
        <td>{{"$%.2f" | format(items['price'])}}</td>
        <td>{{"$%.2f" | format(items['price'] * items['shares'])}}</td>


            {%endfor%}
        </tr>
            <tr>
                <td colspan="1">CASH</td>
                <td colspan="3"></td>
                <td>{{"$%.2f" | format(money)}}</td>
            </tr>

        </tbody>
    </table>

{% endblock %}