{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post" onsubmit="return func()" name="formradio">

        <input type="text" id="inname" name="inputname" placeholder="Name"><br>
        <select name="house" id="selector">
            <option disabled selected value>House</option>
            <option value="Gryffindor">Gryffindor</option>
            <option value="Hufflepuff">Hufflepuff</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Slytherin">Slytherin</option>
        </select><br>
        <input type="radio" name="position" value="beater" id="beater"><label for="beater" class="input">Beater</label><br>
        <input type="radio" name="position" value="chaser" id="chaser"><label for="chaser" class="input">Chaser</label><br>
        <input type="radio" name="position" value="keeper" id="keeper"><label for="keeper" class="input">Keeper</label><br>
        <input type="radio" name="position" value="seeker" id="seeker"><label for="seeker" class="input">Seeker</label><br>
        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit" >Submit</button>

    </form>

    <script>

        function func()
        {
            let a = document.getElementById('inname').value;
            let b = document.getElementById('selector').value;
            let c = document.forms["formradio"]["position"];
            if(c.value == '' || a == '' || b == '')
            {
                alert("Enter all fields");
                return false;
            }
        }
    </script>

{% endblock %}
