{% extends "layout.html" %}

{% block title %}
My Account
{% endblock %}

{% block main %}
<!-- <table>


    <tr>
            <td>Gender</td>
            <td><input  id="fullname" type="radio" name="gender" value="male" > Male
                <input  id="fullname" type="radio" name="gender" value="female"> Female</td>
            <td>
                <i for="gender" class="edit fas fa-edit"></i>
                <i for="gender" class="save fas fa-check"></i>
            </td>
    </tr>
    <tr>
        <td>Drive License</td>
        <td>
            <input  id="fullname" type="radio" name="drivelicense" value="yes" > Yes
            <input  id="fullname" type="radio" name="drivelicense" value="no"> No
        </td>
        <td>
            <i for="drivelicense" class="edit fas fa-edit"></i>
            <i for="drivelicense" class="save fas fa-check"></i>
        </td>
</tr>
</table> -->

<form class="form" action="/account" method="POST">
    <div>fullname <input name="fullname" id="fullname" value="{{ user['fullname'] }}" disabled/></div>
    <div>email<input name="email" id="email" type="email" value="{{ user['email'] }}" disabled/></div>
    <div>birth<input name="birth" id="birth" type="date" value="{{ user['birth'] }}" disabled/></div>
    <div>phone<input name="phone" id="phone" type="tel" value="{{ user['phone'] }}" disabled/></div>
    <div>address<input name="address" id="address" type="text" value="{{ user['address'] }}" disabled/></div>
    <div>status<input name="status" id="status" type="text" value="{{ user['status'] }}" disabled/></div>
    <div>children<input name="children" id="children" type="number" value="{{ user['children'] }}" disabled/></div>
    <div>about<input name="about" id="about" type="text" value="{{ user['about'] }}" disabled/></div>
    <div>notes<input name="notes" id="notes" type="text" value="{{ user['notes'] }}" disabled/></div>
    <button id="edit" class="btn btn-warning">Edit</button>
    <button hidden id="submit" type="submit">Save</button>
</form>

{% endblock %}
