{% extends "layout.html" %}


{% block headerContent %}   
    <div class="header-content container">
        <div class="col">
            <div class="text ">
                <h3>lorem Ipsum Dolor sit amet </h3>
                <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc </h6>
                <a class="button dark" href="#our-team">About us</a>

                <a class="button white" href="#contact" rel="m_PageScroll2id">Contact us</a>
            </div>
        </div>
    </div>

{% endblock%}


{% block main %} 
        <section class="project" id="section-project">
            <div class="text">
                <h2>How to use</h2>
                <h4>Curriculum Vitae Free application tool</h4>
                <p>The site provides easy and quick way to create CV for your job/training application for the below topics</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-tasks-alt"></i>
                            <h3><a href="#">Finance</a></h3>
                            <p>The place to start your finance career</p>
                        </div>
                    </div>
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-team"></i>
                            <h3><a href="#">HR</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-worker"></i>
                            <h3><a href="#">Quality Assurance</a></h3>
                            <p>Beginner in QA? <br> Your starting point can start here.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="button"><a class="button" href="#" data-toggle="modal" data-target="#register">Get started</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="text">
                <h2>Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="services_area">
                            <div id="accordion">
                                <h3 class="accordion-header active"><i class="material-icons first ">trending_up</i>Quality Assurance<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up accordion-content">
                                    <div class="accordion_img">
                                        <img src="/static/img/qa.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                                <h3 class="accordion-header"><i class="material-icons first">group</i>HR<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up accordion-content">
                                    <div class="accordion_img">
                                        <img src="/static/img/hr.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                                <h3 class="accordion-header"><i class="material-icons first">settings</i>Finance<i class="material-icons last">arrow_drop_down</i></h3>
                                <div class="slide_up accordion-content">
                                    <div class="accordion_img">
                                        <img src="/static/img/finance.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact_area" id="contact">
            <div class="text">
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form_area">
                            <form action="/contact" method="post">
                                <div class="input_area">
                                    <input type="text" name="name" placeholder="First Name" required>
                                    <input type="text" name="lastName" placeholder="Last Name" required>
                                    <input type="email" name="email" placeholder="Email" required>
                                    <input type="text" name="phone" placeholder="Phone">
                                </div>
                                <textarea name="text" placeholder="Message" required></textarea>
                                <input type="submit" value="SEND" class="button"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
