{% extends "layout.html" %}

{% block header_includes %}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
Onboarding
{% endblock %}

{% block modalonboarding %}
<!-- bd-example-modal-lg modal-lg-->
<div class="modal fade" id="onboarding" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Hello {{ fullname }}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form signup" action="/onboarding" method="POST" enctype="multipart/form-data">
          <h1 class="h3 mb-4 text-center font-weight-bold">User Onboarding</h1>

          <div class="form-label-group mt-3">
            <label> <strong>Date of birth</strong></label><br>
            <input type="text" class="form-control" name="birth" id="datepicker" placeholder="MM-DD-YYYY">
          </div>

          <div id="phone" class="form-label-group mt-3">
            <input type="tel" class="form-control" name="phone" placeholder="Phone">
          </div>

          <div class="mt-3">
            <label> <strong>Gender</strong></label><br>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="gender1" name="sex" value="male" checked> Male
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="gender2" name="sex" value="female"> Female
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio3">
                <input type="radio" class="form-check-input" id="gender3" name="sex" value="other"> Other
              </label>
            </div>
          </div>

          <div id="address" class="form-label-group mb-3">
              <input type="text" class="form-control" name="address" placeholder="Enter your address">
          </div>

          <div class="form-label-group">
            <label><strong>Avatar</strong></label><br>
            <input type="file" id="avatar" name="avatar" class="form-control">
          </div>

          <div class="mt-3">
            <label><strong> Civil status </strong></label><br>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="status1" name="status" value="single" checked> Single
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="status2" name="status" value="married"> Married
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio3">
                <input type="radio" class="form-check-input" id="status3" name="status" value="divorced"> Divorced
              </label>
            </div>
          </div>


          <div id="children" class="form-label-group mt-3">
            <input type="number" class="form-control" name="children" min="0" placeholder="Children">
          </div>


          <div id="about" class="form-label-group mt-3">
            <textarea type="text" name="about" class="form-control" placeholder="About"></textarea>
          </div>

          <button id="submit" type="submit" class="btn btn-white mt-3">Complete onboarding</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_includes %}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<script>
  $('#onboarding').modal('show');
  $('#datepicker').datepicker({
    uiLibrary: 'bootstrap'
  });
      // $( function() {
      //   $( "#datepicker" ).datepicker();
      // } );
</script>

{% endblock %}