#inname 
{
   height: 35xpx;
   width: 250px;
   padding: 4px; 
   margin-bottom: 20px;
   border-radius: 5%;
}

#selector
{
    background-color: white;
    height: 35px;
    width: 150px;
    padding-left: 10px;
    font-size: 16px;
    color: dimgrey;
    border-color: darkgrey;
    border-radius: 5%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.input
{
    padding-left: 10px;
}

#inname:activ 
{
    box-shadow: 5px;
}
