{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <!-- TODO -->
            <div class="inline"><input type="file" name="file1" placeholder="No File Chosen" class="block"></div>
            <div class="inline"><input type="file" name="file2" placeholder="No File Chosen" class="block"></div>           
            <div class="inline">
                <div>
                    <input type="radio" name="algorithm" value="lines" id="lines"><label for="lines">
                                    
                                         Compare lines
                                         
                    </label>
                </div>
                <div><input type="radio" name="algorithm" value="sentences" id="sentences"><label for="sentences">
                Copmare Sentences</label></div>
                <div><input type="radio" name="algorithm" value="substrings" id="substrings"><label for="substrings">
                Compare substrings</label></div>
                <div><input type="number" name="length" min="1" placeholder="of length n" class="num"><label for="substring"></label></div>
            </div>
            <div class="inline"><input type="submit"  value="Compare" class="eny"></div>
        </form>
    </div>

{% endblock %}
