<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
    <h1>Մի պեն</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam eaque aliquid possimus ipsa nihil quis illum odit, nemo voluptates distinctio exercitationem ex accusantium explicabo ducimus blanditiis est ea illo libero.</p>
</body>
</html>