body {
	background: #eae8e7;
	/* color: #767270; */
	padding: 1%;
	padding-top: 20px;
	font-size: 14px;
	font-family: verdana, sans-serif;
}

.profile-image {
    width: 100%;
    position: relative;
    display: inline-block;
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.profile-basic {
	/* border-bottom: 1px solid #15a27f; */
	margin-bottom: 30px;
	padding: 5%;
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.designation{
	margin: 0 0 20px;
	padding: 0;
	margin-left: 30px;
}
.us-name{
	margin-top: 23px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.profile-info {
	/* padding: 20px 5px 20px 30px; */
	/* border-bottom: 1px solid #15a27f; */
	margin-bottom: 30px;
	padding: 5%;
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

 .profile-info p{
	margin: 5px 0;
	line-height: 20px;
	font-size: 1em;
}

.profile-info i{
	margin-right: 10px;
	font-size: 15px;	
}

.skills span{
	padding: 10px 10px;
	margin: 5px;
	display: inline-block;
	background-color: #fff;
	color: #767270;
}

.work-experience, .education, .prof-skills {
	margin-bottom: 30px;
	padding: 5%;
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.info {
	padding: 2% 1%;
	border-bottom: 1px solid #bdbdbd;
}


.sub-heading { 
font-weight: bold;       
}

.duration {
	color: #14a17f;
	font-size:12px;
}

.prof-skills .skills span{
	background-color: #15a27f;
	background-image: linear-gradient(to right top, #25e3b3, #21e1b6, #1edfba, #1dddbc, #1edbbf);
	color: #fff;
}