{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<main class="container p-5">
            
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
                
    {% for ich in result %}
        <tr>
                    <td>{{ich["symbol"]}}</td>
                    <td>{{ich["share"]}}</td>
                    <td>{{ich["price"] | usd}}</td>
                    <td>{{ich["date"]}}</td>
        </tr>
    {% endfor %}
            
        </tbody>
    </table>

        </main>
{% endblock %}