{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
    {% for ich in result %}
    {% if ich["share"] > 0 %}
        <tr>
                    <td>{{ ich['symbol'] }}</td>
                    <td>{{ ich['name'] }}</td>
                    <td>{{ ich['share'] }}</td>
                    <td>{{ ich['price'] | usd}}</td>
                    <td>{{ (ich['price'] * ich['share']) | usd }}</td>
        </tr>
        {% endif %}
    {% endfor %}
        <tr>
            <td colspan="4">CASH</td>
            <td>{{ cash | usd }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td>{{(cash + tatol) | usd}}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}