{% extends "layout.html" %}

{% block main %}
<main class="container-fluid p-5">

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Sheet</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/tables/ -->
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table dataTable no-footer" id="DataTables_Table_0" role="grid">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                colspan="1" style="width: 569.567px;" aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">Name</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                style="width: 287.833px;" aria-label="House: activate to sort column ascending">House
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                style="width: 284.6px;" aria-label="Position: activate to sort column ascending">
                                Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for val in rows: %}
                        <tr role="row" class="odd">
                            <td class="sorting_1">{{val[0]}}</td>
                            <td>{{val[1]}}</td>
                            <td>{{val[2]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5"></div>
            <div class="col-sm-12 col-md-7"></div>
        </div>
    </div>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $('table')['DataTable']({ 'info': ![], 'ordering': !![], 'paging': ![], 'searching': ![] });

    </script>


</main>
{% endblock %}