{% extends "layout.html" %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td>{{cash[0]['cash'] | usd}}</td>
        </tr>
    </tfoot>
    <tbody>
        {%for item in rows%}
        <tr>
            <td>{{item['symbol']}}</td>
            <td>{{item['company']}}</td>
            <td>{{item['count']}}</td>
            <td>{{item['price'] | usd}}</td>
            <td>{{(item['count'] * item['price']) | usd}}</td>
        </tr>
        {%endfor%}
        <tr>
            <td colspan="4">CASH</td>
            <td>{{cash[0]['cash'] | usd}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}